services:
  fsmlo:
    build:
      context: ..
      dockerfile: docker/Dockerfile

    image: li9i/fsm-lo:latest
    container_name: fsmlo

    stdin_open: true
    tty: true
    network_mode: "host"
    ipc: host
    user: fsmlo
    volumes:
      - ../fsm_lo:/home/fsmlo/catkin_ws/src/fsm_lo/:rw
